.home-container {
  text-align: center;
  padding: 20px;

  .highlighted-feature {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;

    :hover {
      box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }
  }

  .feature-card {
    padding: 0 1rem;
    border-radius: 1rem;
    margin:  1rem;
    flex: 0 1 300px;
    height: 300px;

    .p-card {
      border-radius: 1rem;
    }



    i {
      font-size: 2em;
      margin-top: 10px;
    }


    @media only screen and (max-width: 600px) {
     /* Display one card per row */
     min-width: calc(100% - 1rem)
    }
  }

  .disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
  }
}
